<div class="snippet-preview" id="room">
   <form class="form-horizontal navbar-left" action="" method="POST">
     <fieldset>
       <div id="legend">
         <legend class="">Отправка запроса</legend>
       </div>
<!--        <div class="control-group">
         <label class="control-label" for="username">Контактное лицо</label>
         <div class="controls">
           <input type="text" id="username" name="username" placeholder=username class="input-xlarge form-control">
         </div>
       </div> -->
    
       <!-- <div class="control-group">
         <label class="control-label" for="email">Электронная почта</label>
         <div class="controls">
           <input type="text" id="email" name="email" placeholder="example@yandex.ru" class="input-xlarge form-control">
         </div>
       </div>
    
       <div class="control-group">
         <label class="control-label" for="tel">Телефон</label>
         <div class="controls">
           <input type="tel" id="tel" name="tel" placeholder="+7 903 *** ** **" class="input-xlarge form-control">
         </div>
       </div>
    
       <div class="control-group">
         <label class="control-label" for="place">Местоположение</label>
         <div class="controls">
           <input type="text" id="place" name="place" placeholder="Отдиление" class="input-xlarge form-control">
         </div>
       </div>

       <div class="control-group">
         <label class="control-label" for="room">Кобинет</label>
         <div class="controls">
           <input type="text" id="room" name="room" placeholder="" class="input-xlarge form-control">
         </div>
       </div>

       <div class="control-group">
         <label class="control-label" for="department
">Отдел</label>
         <div class="controls">
           <input type="text" id="department
" name="department
" placeholder="" class="input-xlarge form-control">
         </div>
       </div>
-->

       <div class="control-group">
         <label class="control-label">Уровень срочности</label>

       <div class="controls">
          <div class="btn-group">
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" id="urgency">средний <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">минимальный</a></li>
              <li><a href="#">средний</a></li>
              <li><a href="#">высокий</a></li>
              <!-- <li class="divider"></li>
              <li><a href="#">Other</a></li> -->
            </ul>
          </div>
        </div>

         <!-- 
           <input type="text" id="urgency" name="urgency" placeholder="" class="input-xlarge form-control">
         -->
       </div>
      <div class="control-group">
        <label class="control-label" for="description">Описание проблемы</label>
        <div class="controls">
          <input disabled class="form-control" autocomplete="off" autofocus placeholder="Сообщение..." id="description">
        </div>
      </div>
      <!-- <div class="control-group">
        <label class="control-label" for="description">Описание проблемы</label>
        <div class="controls">
          <textarea type="textarea" id="description" name="description" placeholder="" class="input-xlarge form-control">
          </textarea>
        </div>
      </div> -->


    	<br>

       <div class="control-group">
         <div class="controls">
           <button class="btn btn-success" type="submit">Зарегестрировать</button>
         </div>
       </div>

       

<!--        <div class="edit-alert" role="postbox-alert"></div>
       <div class="description-actions">
       <ul class="wysiwyg">


       </ul> -->


       </div>
       </div>


     </fieldset>
   </form>

</div>